Django==1.5
South==0.7.6
psycopg2==2.4.2
virtualenv==1.6.4
#wsgiref==0.1.2
django-extensions==1.0.3
django-debug-toolbar==0.9.4
django-annoying==0.7.7
django-tastypie==0.9.14
python-dateutil==1.5
#django-concurrent-server==0.1.0
git+https://github.com/ashchristopher/django-concurrent-server@586989bda43be0a206c7f1d579d8c0f2a9
a4580d#egg=django_concurrent_server-dev#egg=Package